/* Resetando padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #004a9d;
    color: white;
    padding: 20px;
    text-align: center;
}

header .brasao {
    max-width: 100px;
}

h1 {
    font-size: 2.5rem;
    margin-top: 10px;
}

/* Seções */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Estilos para as imagens da galeria */
.imagem-galeria {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.evento-imagem {
    width: 32%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    padding: 10px;
    background-color: #004a9d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover {
    background-color: #003c7d;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}
